## .NET Core
bin/
obj/
*.user
*.suo
.vs/
*.swp
*.sln.docstates

## Logs
logs/
*.log

## NuGet
*.nupkg
*.snupkg
.nuget/

## Build results
[Dd]ebug/
[Rr]elease/
[Xx]64/
[Xx]86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

## ASP.NET
wwwroot/lib/
